.Cursos-Pilotos{
    margin-top: 50px;
}
.Cursos-P-img{
    border-radius: 12PX;
}
.p-Curso-Pilotos{
    color: black;
    text-align: justify;
}
.Li-Curso-Pilotos{
    color: black;
    text-align: start;
    cursor: pointer;
}
.Li-Curso-Pilotos:hover{
    margin-left: 5px;
    color: blue;
    transition: 0.5s;
}

/* Estilos para pantallas de celulares*/
@media (max-width: 768px) {
    .Cursos-Pilotos{
        font-size: 25px;
        margin-top: 50px;
    }
.p-Curso-Pilotos{
    text-align: start;
}
.Cursos-P-img{
    margin-bottom: 12px;
}

  }